<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de Cuenta - SEKA EVENTOS</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1 style="font-weight: bold; text-align: center; font-family: 'Poppins', sans-serif;">Recuperación de Contraseña</h1>
<a style=" font-weight: bold; text-align: justify; font-family: 'Poppins', sans-serif;">
    Estimado/a Usuario.
    <br><br>
    Hemos recibido una solicitud para recuperar su contraseña.
    <br><br>
    Ingrese este PIN de 6 digítos para confirmar tu identidad y actualizar su contranseña.
    <br><br>
</a>

<a style="color: red; font-weight: bold">
    PIN:
</a>
<a th:text="${pin}" style= "font-weight: bold"></a>
<br><br>
<a style="font-weight: bold; text-align: justify; font-family: 'Poppins', sans-serif;">
    Si no lo has solicitado o no deseas continuar con este proceso, por favor ignora este mensaje.

    Si tienes alguna pregunta o necesitas ayuda adicional, no dudes en contactar a nuestro equipo de soporte en este mismo correo.

    <br><br>
    Atentamente,<br>
    SEKA EVENTOS - Sistema de Creación de Eventos para el Comité Ambiental
</a>
</body>
</html>